extends ../../base

block content
    form(method="POST")
        input#day-selector(type="date" name="day" min="2022-01-01" value=`${day}`)
        input(type="text" name="title" required)
        input(type="text" name="description")
        input(type="number" name="rate" required value="1")
        input(type="submit" value="create")