extends ../../base 

block content 
    div#2022
        h3 2022
        ul#yearlyGoals2022
    div#2023
        h3 2023
        ul#yearlyGoals2023
    div#2024
        h3 2024
        ul#yearlyGoals2024
    div#2025
        h3 2025
        ul#yearlyGoals2025
    a(href="/goals/year/create") Create Your Yearly Goals!


block scripts  
    script(src="/static/js/homeYearlyGoals.js")