doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
    body
        include partials/header
        main 
            block content 
        include partials/footer
    block scripts
    script(src="https://kit.fontawesome.com/8dd269059d.js" crossorigin="anonymous") 