extends base

block content 
    div#home-contents
        div#user-info
            h1.user__date #{date}
            h1.user__clock 00:00:00
            h5.user__greeting Hello, User!
            p.user__quote Always Smile. - Dale Karnegey

        div#goals.home-list
            div.switching-div
                i.fa-solid.fa-arrow-left
                h3(data-enum=0) YearlyGoal
                i.fa-solid.fa-arrow-right
            ul#goals__ul
                form
                    input(type="text" required placeholder="New Goals!")
                    input(type="submit" value="Submit")
                

        div#today-recaps.home-list
            div.switching-div
                i.fa-solid.fa-arrow-left
                h3 Today Recaps
                i.fa-solid.fa-arrow-right
            ul#today-recaps__ul
                form
                    input(type="text" required placeholder="New Recaps!")
                    input(type="submit" value="Submit")

                

        div#delayed-recaps.home-list
            div.switching-div
                i.fa-solid.fa-arrow-left
                h3 Delayed Recaps
                i.fa-solid.fa-arrow-right
            ul#delayed-recaps__ul
                
    
    if bgImage
        img(src=`${bgImage}`).background-img


block scripts 
    script(src="/static/js/home.js")