extends ../base

block content 
    a(href="/goals/year") Yearly Goals
    br
    a(href="/goals/month") Monthly Goals
    br
    a(href="/goals/week") Weekly Goals
    br
    a(href="/goals/day") Daily Goals
    br
    a(href="/goals/customized") Customized Goals
