header 
    nav.nav
        ul.nav__ul 
            li
            li 
                a(href="/") Home
            li 
                a(href="/goals") Goals
            li 
                a(href="/recaps") Recaps
            li 
                a(href="/todays") Todays
            li 
                a(href="/statics") Statics 
            li 
                a(href="tastes") Tastes
            li
